
.gridfoo {
 display: grid;
 grid-gap: 5px;
 height: 100%;
 background-color: #aaa;
 font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
 grid-template-columns: 1fr;
 grid-template-rows: auto auto 1fr auto;
 grid-template-areas: "title"
                      "inputs"
                      "viewport"
                      "team"
                      "table";
}


@media (min-width: 700px) {
    .gridfoo {
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "blank title"
                             "inputs viewport"
                             "team table";
        
    }
}

.blank {
    grid-area:blank;}


.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewport {
    grid-area: viewport;
    display: flex;
    align-items: center;
    justify-content: center;}

.inputs {
    grid-area: inputs;
    display: flex;
    align-items: center;
}

.team {
    grid-area: team;
    display: flex;
    align-items: center;
    justify-content: center;}

.table {
    grid-area: table;
    display: flex;
    align-items: center;
    justify-content: center;}


